<% if logged_in? %>

<h1><a href="/admin/dashboard">Mia Salsjo</a></h1>

<div class="login">
  <p>Welcome <%= current_user.name %>!</p>
  <form action="/login" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="logout-btn">Log Out</button>
  </form>
</div>

<% end %>
