<h1>Mia Salsjo</h1>

<% if logged_in? %>

<p>Welcome <%= current_user.name %></p>

<form action="/login" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Log Out</button>
</form>

<%= erb(:_search) %>

<% end %>
