<form action="/admin/dashboard/biography/edit" method="post">
  <h4>Curriculum Vitae</h4>
  <textarea class="rtf_edit" name="body"><%= @bio.body %></textarea>
  <button>Update</button>
</form>

<span><%= @status %></span>
