<h2>Biography</h2>

<form action="/admin/dashboard/biography/edit" method="post">
  <textarea class="rtf_edit" name="body"><%= @bio.body %></textarea>
  <button>Update</button>
</form>

<span class="status-msg"><%= @status %></span>
