<form action="/admin/dashboard/contact/edit" method="post">

  <label for="mailing-list">Edit email</label>
  <input name="email" type="email" size="20" value="<%= @mia.email %>">

  <button>Update</button>

</form>

<%= @status %>
