<h2>Contact</h2>

<a href="mailto:mia_salsjo@hotmail.com">mia_salsjo@hotmail.com</a>

<form action="/contact" method="post">
  <label for="mailing-list">Sign up for news</label>
  <input name="dimensions" type="email"size="20">
  <button>Submit</button>
</form>
