<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mia Cera Salsjo Artist</title>
  <meta name="description" content="Mia Salsjo Contemporary Australian Artist Installation Art Silkscreen Drawing Video Art">
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>

<body>

  <h1>Mia Salsjo</h1>

  <% if logged_in? %>

  <p>Welcome <%= User.find(session[:user_id]).name %></p>

  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>

  <nav>
    <h2>Edit</h2>
    <ul>
      <li class="menu-main"><a href=" #">Works</a></li>
      <li class="menu-main"><a href="#">Biography</a></li>
      <li class="menu-main"><a href="#">Contact</a></li>
    </ul>
    <ul class="menu-sub">
      <% @work_types.each do |category| %>
      <li><a href=""><%= category.name %></a></li>
      <% end %>
    </ul>
  </nav>

  <% end %>

  <%= yield %>

</body>
</html>
