<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mia Cera Salsjo Artist</title>
  <meta name="description" content="Mia Salsjo Contemporary Australian Artist Installation Art Silkscreen Drawing Video Art">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script type="text/javascript">
    tinymce.init({
    selector: '.rtf_edit',
    skin: 'lightgray',
    plugins: 'link',
    menubar: false,
    toolbar: 'undo redo | bold italic underline | link',
    width: 600,
    height : 500,
  });
  </script>
</head>

<body>

  <h1>Mia Salsjo</h1>

  <% if logged_in? %>

  <p>Welcome <%= User.find(session[:user_id]).name %></p>

  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>
  </form>

  <nav>
    <h2>Edit</h2>
    <ul>
      <li class="menu-main"><a href="/admin/dashboard">Works</a></li>
      <li class="menu-main"><a href="/admin/dashboard/biography/edit">Biography</a></li>
      <li class="menu-main"><a href="/admin/dashboard/contact/edit">Contact</a></li>
    </ul>
    <ul class="menu-sub">
      <% @work_types.each do |category| %>
      <li><a href="/admin/dashboard/works?category=<%= category.name %>"><%= category.name %></a></li>
      <% end %>
    </ul>
    <a href="/admin/dashboard/works/new">Add New Work</a>
  </nav>

  <% end %>

  <%= yield %>

</body>
</html>
