<h2>Log In</h2>

<form action="/session" method="post">

  <label for="user_login">Email</label>
  <input name="email" type="text" size="20">

  <label for="user_password">Password</label>
  <input name="password" type="password" size="20">

  <button>Log In</button>

</form>

<p><%= @message %></p>
