<h3>Add New Work</h3>

<form class="form-edit" action="/admin/dashboard/works/<%= @work.id %>/new" method="post">

  <%= erb(:_form_contents) %>

  <button class="add-edit-btn">Add</button>

</form>

<span><%= @status %></span>
