<h2>Add New Work</h2>

<form class="form-edit" action="/admin/dashboard/works/<%= @work.id %>/new" method="post">

  <%= erb(:_form_contents) %>

  <button>Add</button>

</form>

<span><%= @status %></span>
