<h3>Edit</h3>

<div class="works-individual">
  <img class="works-edit" src="<%= @work.image_url %>" alt="">
  <form class="works-info" action="/admin/dashboard/works/<%= @work.id %>/edit" method="post">
    <%= erb(:_form_contents) %>
    <button class="add-edit-btn">Update</button>
  </form>
</div>

<span><%= @status %></span>
