* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin-top: 2rem;
}

nav {
  position: relative;
}

main {
  margin: 0 auto;
  width: 80%;
  /*border: 1px solid pink;*/
}

h1 {
  text-align: center;
}

h6 {
  font-weight: normal;
}

li {
  padding: 0 2em;
  text-align: center;
}

a {
  color: #939499;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
  text-decoration: none;
}

img {
  width: 25rem;
}

/* Add New / Edit Form */
form label {
 display: block;
 margin: 1rem 0;
}

span {
  color: #4c00ec;
}

/* Header */
h1 a {
  color: #1a1a1a;
  font-size: 4rem;
  letter-spacing: 0.7rem;
}

.login {
  display: inline-block;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  text-align: right;
}

.search-bar {
  padding: 0.5rem;
  text-align: center;
}

.logout-btn {
  font-size: 0.8rem;
}

.login p {
  font-size: 0.8rem;
}

/* Navigation - Sidebar */
nav {
  margin-top: 6rem;
}
nav ul {
  padding: 0.7rem 0;
  list-style: none;
  text-align: center;
}

.menu-main {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-sub li {
  display: inline;
}

.menu-admin li {
  display: block;
  padding: 0.4rem 0;
}

nav a {
  text-align: center;
}

/* Works */
figure {
  margin: 0;
  float: left;
  width: 40%;
}

figcaption {
  float: left;
  width: 60%;
}

h5:first-of-type {
  margin-top: 0;
}

.works-individual {
  width: 100%;
  padding: 2rem 0;
}

.clearfix {
  clear: both;
}

.delete-btn {
  margin-top: 1.5rem;
}

/* Biography */
.bio {
  width: 60%;
}

/* Contact */


/* Footer */
footer p {
  color: #1a1a1a;
  letter-spacing: 0.1rem;
  text-align: center;
}
